.Watchlist, .Watched, .Dislike{
    margin-top: 10px; 
    text-align: right;
    margin-right: 10px;    
}

.Watchlist span{
    margin-top: 5px;    
    font-weight: bold;
    color: white;
    text-align: right;
    background: green;
    font-size: 1.2em;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;

}

.Watched span{
    margin-top: 5px;    
    font-weight: bold;
    color: white;
    text-align: right;
    background: red;
    font-size: 1.2em;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;

}

.Dislike span{
    margin-top: 5px;    
   color: whitesmoke;
    padding-left: 25px;
    padding-right: 100px;
    padding-top: 0px;
    padding-bottom: 150px;
   
    background: url('ThumbsDown.png');
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 1000px)
{
  .Dislike span {
    margin-top: 5px;    
    font-weight: bold;
    color: white;
    text-align: right;
    background: red;
    font-size: 1.2em;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;

   
  }
}
