body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: aliceblue;
}

.moviesheading {
  margin: 0 auto;
  width: 1023.99px; 
  text-align: left;  
}

h1.moviesheading{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}


/* @media screen and (max-width: 1000px)
{
  .moviesheading {
    
    width: 900.99px; 
    
  }
}


@media screen and (max-width: 600px)
{
  .moviesheading {
    
    width: 300.99px; 
    
  }

} */
