.options {
    padding-top: 250px;
    /* padding-left: 20%;
    float: left; */
    width:50%;
}
.nav{
    overflow: hidden;
}
.search{
    /* float: right;
    position: relative;
    padding-top: 100px;
    padding-right: 5%; */
    width: 30%
}

.filter{
    width:30%;
}